.ServiceControlPanel {
background-position: center;
  background-size: cover;
width: 100%;

}

@keyframes shine {
  0% { transform: translateX(-200%); }
  100% { transform: translateX(200%); }
}

.animate-shine {
  animation: shine 3s infinite linear;
}